<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        
        th,
        td {
            text-align: left;
            padding: 16px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>

</head>

<body>

    <table>
        <thead>
            <tr>
                {% for j in dict_item.keys() %}
                <th>{{ j }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for x in dict_item.values() %}
                <td>{{x}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>cell1_2</td>
                <td>cell2_2</td>
                <td>cell3_2</td>
                <td>cell4_2</td>
                <td>cell5_2</td>
            </tr>
            <tr>
                <td>cell1_3</td>
                <td>cell2_3</td>
                <td>cell3_3</td>
                <td>cell4_3</td>
                <td>cell5_3</td>
            </tr>
            <tr>
                <td>cell1_4</td>
                <td>cell2_4</td>
                <td>cell3_4</td>
                <td>cell4_4</td>
                <td>cell5_4</td>
            </tr>
            <tr>
                <td>cell1_5</td>
                <td>cell2_5</td>
                <td>cell3_5</td>
                <td>cell4_5</td>
                <td>cell5_5</td>
            </tr>
        </tbody>
    </table>

</body>

</html>